
div{
    padding-bottom: 1000px;
    outline: 3px black;
    text-align: center;
    font-style: oblique;
    border-radius: 10px;
    border-color: rgb(255, 242, 0);
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    color: rgb(0, 0, 0);
    }  

body{
    background-color: rgb(0, 0, 0);
    }

h1{
    text-align: center;
    color: #ffffff;
    font-size: 50px;
            
}

h2{
    text-align: left;
    padding-bottom: 180px;
    font-size: 80px;
}

h3{
    text-align: left;
    font-size: 50px;
}